body{
	background:#000 ;
	font-size: 14px;
}

h1{
	color: red;
	padding-top: ;
	
}

p{
	font-size: 14px;

}

#main-content{
	margin: auto;
	text-align: center;
	padding: px;
	width:40%;
	background: #fff;
	height: 80%;
}

